﻿@model BloomburgBNA.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    <p>@Html.ActionLink("Back to My Todo List", "Index", "Home")</p>

    <section class="todoList">
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
    </section>

    <section class="todoList" id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}