﻿@model BloomburgBNA.Models.ExpenseItem
<link rel="stylesheet" href="~/Content/expense.css" />
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>
<script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
<script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/Expense.js"></script>

<h2>Expenses</h2>
<script type="text/javascript">
    $(function () {
        var rawJSON = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        //var view = new vm(rawJSON);
        //view.Date.subscribe(function (test) {
        //    alert(test);
        //});
        ko.applyBindings(new vm(rawJSON));
    });
    
</script>
<form id="submitData" action="">
    <table class="midTable">
        <tr>
            <td>
                Date:
            </td>
            <td>
                <input type="date" data-bind="date:Date" id="submissionDate" name="submissionDate" />
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <input type="text" data-bind="value:Description" id="descriptionInp" size="30" />
            </td>
        </tr>
        <tr>
            <td>
                Category:
            </td>
            <td>
                <input id="category" data-bind="value:Category" />
            </td>
            <td>
                Subcategory:
            </td>
            <td>
                <input id="subCategory" data-bind="value:SubCategory" />
            </td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" data-bind="value:Amount" required="required" id="totalAmount" /></td>
        </tr>
    </table>
    <input type="button" id="saveItem" data-bind="click:SubmitNewItem" value="Save" />
</form>

<h2>Submitted</h2>
<table id="resultsTable" class="midTable topClearance">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:items">
        <tr>
            <td data-bind="dateText:Date"></td>
            <td data-bind="text:Description"></td>
            <td data-bind="text:Category"></td>
            <td data-bind="text:SubCategory"></td>
            <td data-bind="text:Amount"></td>

        </tr>
    </tbody>
    
</table>

